{% import '_includes/forms' as forms %}

{% macro configWarning(setting, docsUrl) -%}
    {{ "This is being overridden by the {setting} config setting."|t('app', {
        setting: '<a href="'~docsUrl~'" target="_blank">'~setting~'</a>'
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

<p>Your custom JavaScript will be applied to the entire Control Panel.</p>

{{ forms.autosuggestField({
    label: "JavaScript File"|t,
    instructions: "Enter the path to your JavaScript file."|t,
    id: 'jsFile',
    name: 'jsFile',
    suggestEnvVars: true,
    suggestAliases: true,
    value: settings.jsFile,
    disabled: 'jsFile' in overrideKeys,
    warning: 'jsFile' in overrideKeys ? configWarning('jsFile', docsUrl)
}) }}

{{ forms.textareaField({
    label: "Additional JavaScript"|t,
    instructions: "Enter any additional JavaScript here."|t,
    id: 'additionalJs',
    name: 'additionalJs',
    value: settings.additionalJs,
    rows: 15
}) }}
